.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #ECFFDC
}
.card-img {
  width: 20%;
  height: 20%;
  margin: 0.2rem 1rem 1rem 1rem;
}
.stocks{
  width: 172px;
  height: 172px;
}
.cards{
  width: 220px;
}
.index{
  display: flex;
  width: 220px;
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  font-size: 1rem;
}
.coln{
  margin-top: 0.5rem;
}


body{
  font-size: 16px;
    font-weight: 600;
}

 .navbar-brand, .navbar-brand a:hover  {
  color: #00b386 !important;
}
.navbar-brand {
  color: #00b386;
}
.nav-link {
  color: #495057;
}

.nav-link.active {
  color: #00b386;
}

.text-color-green{
    color: #00b386;
  
}
.section-title{
  color: #545b62;
}

.m-15{
  margin: 15px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.7rem;
}

.indexsection .card-title{
  color: #545b62;
}

.logo {
  width: 65px;
  height: 50px;
}

.section{
  margin-bottom: 5px;
}

.section2 .card-title{
  color: #545b62;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active 
{
  color: #00b386 !important;
  font-weight: bold !important;
}

.nav-tabs .nav-link {
  color: #545b62;
  font-weight: bold !important;
}

.nav-tabs {
  margin-top: 5px;
}

.financialbarchart{
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 5px;
}

.financialbarchart .nav-tabs, .financialbarchart .tab-content{
  margin: 1rem;
}

.financialbarchart .nav-link.active {
  border-color: #fff #fff #dee2e6 #fff;
  background-color: #fff;
}

.financialbarchart .nav-link, .financialbarchart .nav-link:hover {
  border-color: #fff #fff #fff #fff;
  background-color: #fff;
}

.financialbarchart .nav-link.active {
  border-bottom: 4px solid #00b386;
  background-color: #fff;
}

.financialbar{
  height: 350px;
}

/* Define css class for global loading message to cover 
   screen during axios operations */
   .loading-indicator:before {
    content: '';
    background: #000000cc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-indicator:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1070;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
}

.company .card {
  width: 100%;
  border: none;
}

.company .card-img {
  width: 15%;
  height: 40%;
  margin: 0.2rem 1rem 0rem 1rem;
}

.company .card-title, .company .card-subtitle {
  font-size: 1.5rem;
  color: #545b62;
}

.stocksline{
  width: 100%;
  height: 350px;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.bg-color-green{
  background-color: #00b386;

}

.details .section-title {
  margin-bottom: 2px;;
}

.companydesc{
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text > div {
  display: inline;
  padding-right: 10px;
}

.text a {
  position: absolute;
}

.fundamentalstable{
  border: none;
}

.gray-text-color{
color: #545b62;
}

.login {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 50%;
}